body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

#sidebar {
    width: 250px;
    height: 100vh;
    background-color: #f4f4f4;
    float: left;
}

#content {
    padding: 20px;
}

#topbar {
    height: 60px;
    text-align: center;
    background-color: #efeae6;
    color: #fff;
    padding: 10px;
}

#topbar h1 {
    font-family: 'CormorantLight';
    margin: 0;
    padding: 0;
    font-size: 24px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th,
table td {
    text-align: center;
    padding: 10px;
    font-family: 'CormorantLight';
    border: 1px solid #ccc;
}

table th {
    background-color: #f4f4f4;
}